{{!-- list.hbs --}}
{{!-- Aquí listaremos todas las incidencias que haya en la BD --}}
<div class="row">
	<div class="col titulo-seccion">
		<h1 class="titulo">Incidencias</h1>
		<hr>
	</div>
</div>
<div class="row m-auto">
	{{!-- Por cada incidencias... --}}
	{{#each incidencias}}
		<div class="col-md mb-2 mt-3">
			<div class="card tarjeta">
				<img class="tarjeta-imagen" src="/uploads/{{ imgIncidencia }}">
				<div class="card-header tarjeta-cabecera">					
					<h5 class="card-title titulo">{{ nomIncidencia }}</h5>					
					<h6 class="card-subtitle mb-2 text-secondary">{{ nickUsuario }} - {{ ubiIncidencia }}</h6>					
				</div>
				<div class="card-body tarjeta-cuerpo">
					<p class="card-text">{{ menIncidencia }}</p>
					<small class="mb-2">{{ timeago fcCreacion }}</small>
				</div>
				<div class="card-footer text-center mt-3">
					<a href="/incidencias/see/{{idIncidencias}}" class="btn btn-cmc boton-accion">Ver</a>
					<a href="/incidencias/delete/{{idIncidencias}}" class="btn btn-danger boton-accion">Borrar</a>
					<a href="/incidencias/edit/{{idIncidencias}}" class="btn btn-secondary boton-accion">Editar</a>
				</div>
			</div>
			
		</div>
	{{else}}
		<div class="col mx-auto">
			<div class="card card-body text-center">
				<p>No hay incidencias guardadas todavía.</p>
				<a href="/incidencias/add">¡Crea la primera incidencia!</a>
			</div>
		</div>
	{{/each}}
</div>
